
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503910928667'); /* IE9*/
  src: url('iconfont.eot?t=1503910928667#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503910928667') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503910928667') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503910928667#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before { content: "\e86d"; } /*关闭*/
c
.icon-collection:before { content: "\e86e"; } /*收藏*/

.icon-search:before { content: "\e86f"; } /*搜索*/

.icon-share:before { content: "\e870"; }/*分享*/

.icon-message:before { content: "\e871"; }/*信息*/

.icon-zan:before { content: "\e872"; }/*点赞*/

.icon-enclosure:before { content: "\e88a"; }/*附件*/

.icon-top:before { content: "\e88d"; }/*顶部*/

.icon-list:before { content: "\e890"; }/*目录*/

