{include file="public/header" /}
<div>
    <table class="table">
        <thead>
            <tr>
                <td>id</td>
                <td>名字</td>
                <td>logo</td>
                <td>位置</td>
                <td>类型</td>
            </tr>
        </thead>
        <tbody>
        {foreach $data as $vo}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.logo}</td>
                <td>{$vo.place}</td>
                <td>{$vo.type}</td>
            </tr>
        {/foreach}
        </tbody>
    </table>



</div>
{include file="public/footer" /}
