<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.css">
    <link rel="stylesheet" href="__ROOT__/static/css/main.css">
</head>
<body>
    <div class="main">
        <div class="main-sidebar">
            <div class="main-logo">

            </div>
            <ul class="list-group" id="nav_sidebar">
                <li class="list-group-item bg-success">
                    <a href="{:url('company/index')}">
                        <span class="glyphicon glyphicon-home"></span> 公司管理
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{:url('user/index')}">
                        <span class="glyphicon glyphicon-user"></span> 到用户管理
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-body">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="javascript:;" class="navbar-brand navbar-expand-toggle">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                        <span class="navbar-brand">后台管理系统</span>
                    </div>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="javascript">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="main-content">
                {__CONTENT__}
            </div>
        </div>
    </div>



    <script src="__ROOT__/static/js/jquery-3.2.1.min.js"></script>
    <script src="__ROOT__/static/js/bootstrap.js"></script>
    <script>
        $(function () {
            $('.navbar-expand-toggle').on('click', function (e) {
                console.log(1);
                $('.main-sidebar').toggleClass('off');
                $('.main-body').toggleClass('off');
            })
        });
    </script>
</body>
</html>