<div class="panel panel-default">
    <div class="panel-heading text-right">
        <span class="pull-left panel-title">用户管理</span>
        <a href="{:url('user/add')}" class="btn btn-default">
            <span class="fa fa-plus-square"></span> 添加
        </a>
    </div>
    <table class="table table-bordered">
        <thead class="bg-default">
        <tr>
            <td>id</td>
            <td>用户类型</td>
            <td>登录名</td>
            <td>用户名</td>
            <td>电话</td>
            <td class="td-operation">操作</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>